*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
    font-size: 4rem;
}

.time-container {
    justify-self: flex-start;
}

.crypto-container {
    display: flex;
    flex-direction: column;
}

.crypto-header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.crypto-name,
.crypto-body p {
    font-size: 1.2rem;
}

.crypto-body p {
    margin-left: 40px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-temp {
    display: flex;
    align-items: center;
}

.weather-temp img {
    width: 80px;
}

.weather-temp p {
    font-size: 1.7rem;
    margin-left: -8px;
}

.city {
    font-size: 1.2rem;
    margin-top: -10px;
}