*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
}

.author {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}