html,
body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

img {
    width: 90px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
}

textarea {
    font-family: 'Inter', sans-serif;
    background-color: #444059;
    border: none;
    border-radius: 8px;
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 12px;
}

.container {
    background-color: #1B1924;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    padding: 40px;
}