*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;

}

.container {
    padding: 20px;
}

/* HEADER */

header {
    box-shadow: 0 0.5px 7px 0px #090909;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.logo-img {
    width: 11%;
    height: 11%;
    object-fit: cover;
}

.logo-text {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.725em;
}

ul li a {
    color: #090909;
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    cursor: pointer;
}

/* HERO */

.hero {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 5.5em auto auto auto 1.56em;
    gap: 5px;
    background-image: url("../images/hero.png");
    background-size: cover;
    color: white;
}

.hero-col {
    grid-column: 2;
}

.hero time {
    font-size: 0.75rem;
    grid-row: 2;
    
}

.hero h1 {
    font-size: 2rem;
    line-height: 1.2;
    grid-row: 3;
}

.hero p {
    grid-row: 4;
}


article > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}