body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    /* background: linear-gradient(white, gray); */
    height: 100vh;
    color: #e98a1d;

}