*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 570px 1fr;
}

header,
main,
footer {
    grid-column: 2;
}

header,
footer {
    padding: 1.5em;
}

header {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
}

header h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 0.3em;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

header p {
    font-size: 1.125em;
    font-weight: 600;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

header p span {
    display: block;
}

.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 2em 1.5em;
}

.color-input {
    width: 5em;
    height: 3.1em;
    cursor: pointer;
}

.modes-select {
    position: relative;
    width: 19.5em;
    font-size: 1rem;
}

.select-btn {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.56em 0.8em;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-value {
    text-align: left;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
}

.modes-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;

    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
}

.modes-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.modes-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1em;
    align-items: center;
}

.modes-dropdown li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
}

.modes-dropdown::-webkit-scrollbar {
    width: 7px;
}

.modes-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.modes-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.modes-dropdown li:hover,
.modes-dropdown input:checked~label {
    background-color: #f2f2f2;
}

.modes-dropdown input:focus~label {
    background-color: #dfdfdf;
}

.modes-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.modes-select.active .modes-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.modes-select.active .arrow {
    transform: rotate(180deg);
}

.select-btn>*,
.modes-dropdown li>* {
    pointer-events: none;
}