body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

/* Typography */

h1,
h2 {
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}


h2 .bold-text {
    font-size: 60px;
}

h3 {
    font-size: 36px;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

p a {
    color: #99D930;
    font-weight: 900;
}

p a:hover,
p a:focus {
    color: #131313;
}

.work-article-link {
    background-color: #99D930;
    color: #252525;
    padding: 15px 25px;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.work-article-link:hover, 
.work-article-link:focus {
    background-color: #252525;
    color: #FFF;
}

.small-text {
    font-size: 16px;
}

/* Layout */

header, section {
    padding: 100px 0;
}

header {
    background-color: #D7D7D7;
}

.inverse {
    color: #fff;
    background: #252525;
}

.container {
    width: 570px;
    margin: 0 auto;
}

img {
    width: 300px;
    border-radius: 50%;
    border: 10px solid white;
}