body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

/* Typography */

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}


h2 .bold-text {
    font-size: 60px;
}

h3 {
    font-size: 36px;
}

p a {
    color: #99D930;
    font-weight: 900;
}

p a:hover,
p a:focus {
    color: #131313;
}

.small {
    font-size: 16px;
}

/* Layout */

header, section {
    padding: 100px 0;
}

header {
    background-color: #D7D7D7;
}

section {
    background-color: #FFEAEA;
}

section:nth-of-type(2) {
    background-color: #EAF9FF;
}

.container {
    width: 570px;
    margin: 0 auto;
}