*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Oxygen Mono', monospace;
    font-size: 16px;
    text-align: center;
    min-height: 100vh;
}

header {
    padding: 2em 0;
}

header h1 {
    font-weight: bold;
    color: #FFFF00;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    min-height: 81.5vh;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1.5em 0;
    width: 100%;
}

.card {
    height: 314px;
    width: calc(314px * 5 / 7);
    border: 1px solid #FFF100;
    border-radius: 5px;
}

.get-deck-btn {
    align-self: center;
}

.draw-cards-btn {
    border-radius: 0;
    width: 100%;
    padding: 1em 0;
}

button {
    padding: 0.6em 1em;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FFFF00;
    border: none;
    border-radius: 5px;
    width: 11.25em;
    color: #008000;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
    .cards-container {
        flex-direction: row;
        justify-content: space-between;
    }
}