*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Oxygen Mono', monospace;
    font-size: 16px;
    text-align: center;
    min-height: 100vh;
}