*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Oxygen Mono', monospace;
    font-size: 16px;
    text-align: center;
    min-height: 100vh;
}

header,
footer {
    padding: 2em 0;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 570px;
    margin: 0 auto;
    height: 66.5vh;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.get-deck-btn {
    align-self: flex-start;
}

.draw-cards-btn {
    align-self: center;
}
