body {
    margin: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/osun2.jpg");
    background-size: cover;
    height: 500px;
}

.hero-title, .hero-text {
    margin: 0;
    color: white;
    background-color: #0dcabada;
    padding: 5px 10px;
    border-radius: 5px;
}

.hero-text {
    font-size: 18px;
    margin-top: 10px;
    width: 30%;
    text-align: center;
}

/* Statistics section */

#stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0dcabada;
    padding: 30px 60px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 30px;
    margin-bottom: 0;
}

.stat-description {
    font-size: 20px;
    font-weight: 500;
}

.stat-number, .stat-description {
    letter-spacing: 1.5px;
    text-shadow: 0 0 1px black;
}

/* Overview Section */

#overview {
    display: flex;
    justify-content: space-between;
    background-color: #b9dfdbda;
    padding: 30px 60px;
}

.overview-history {
    margin-right: 50px;
}

.overview-history h3 {
    text-align: center;
    color: #0c6b6e;
    font-size: 24px;
}

.overview-history p {
    text-align: justify;
    font-size: 18px;
    word-spacing: 1.5px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    width: 200px;
    margin-right: 20px;
}

.row {
    display: flex;
}
