html, body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 21px;
}

.container {
    width: 570px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    padding: 0 20px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    width: 180px;
    height: 80px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* User info wrapper */

.user-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 16px;
}

.name {
    margin-bottom: 3px;
    margin-top: 0;
}

.location {
    font-size: 20px;
}

p {
    margin: 0;
}

.post-image-wrapper {
    margin-bottom: 28px;
}

.post-img {
    width: 570px;
    margin-bottom: -7px;
}

/* Icons Wrapper */
.icons-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
}

.icons-wrapper img {
    width: 40px;
}

.bold-text {
    font-weight: bold;
    margin-bottom: 15px;
}


