@font-face {
    font-family: cursed-timer;
    src: url("./CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    column-gap: 250px;
}

.board-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.score-title {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #080001;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}

p {
    color: #F94F6D;
    font-family: cursed-timer;
    font-size: 90px;
}