body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    column-gap: 250px;
}