*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    min-height: 100vh;
    background: #642B73;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C6426E, #642B73);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C6426E, #642B73);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    /* background-size: cover; */
    color: #F5F5F5;
}

header,
main,
footer {
    max-width: 570px;
}

header,
footer {
    padding: 1.5em 0;
    text-align: center;
}

header {
    border-bottom: 1px solid #F5F5F5;
}

footer {
    border-top: 1px solid #F5F5F5;
}