body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
}

span {
    color: #4ADF86;
}

.container {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 70%;
    background-color: #1F2937;
    padding: 0 60px;
}