body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}

.container {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 70%;
}